body {

  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #575757;
  background-color: #ffffff;
  min-width: 1000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --yellow-text-color:#fb9333;
}


.gradient-decor{
  background-image: linear-gradient( to right top,#fff 55%,#FFE8C8,#fff);
  
}

.header {
  margin: 0 auto;
  max-width: 1200px;
}

.header-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom:64px;
  padding-top: 22px;
}

.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.yellow {
  color:var(--yellow-text-color);
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.navigation-menu__item {
  list-style: none;
  margin-right: 46px;
}

.navigation-menu__item:last-child{
  margin-right: 0;
}

.navigation-menu__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding: 10px;
  text-decoration: none;
  color: #575757;
}

.navigation-menu__link:hover {
  color: #fb9333;
  font-weight: 700;
}

.navigation-menu__link:active {
  color: #fb9333;
  font-weight: 700;
  border-radius: 50px 50px;
  background-color: #ffffff;
}

.btn {
  color: #ffffff;
  background: #fb9333;
  border-radius: 100px;
  cursor: pointer;
}

.btn-header {
  padding: 24px 32px;
}

.btn-link {
  padding: 15px 45px;
  text-decoration: none;
}

.btn-link:hover {
  color: #fb9333;
  background-color: #f2d4a9;
}

.promo {
  margin: 0 auto;
  max-width: 1170px;
  padding-bottom: 140px;
  display: flex;
}

.btn__promo_info {
  display:inline-block;
  margin-top: 40px;
  padding:16px;
  color: #fb9333;
  background-color: #fff0dc;
  border-radius: 100px;
}

.promo__title {
  display: block;
  max-width: 590px;
  font-weight: 700;
  font-size: 72px;
  margin: 30px 0;
  overflow-wrap: break-word;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.subtitle {
  max-width: 496px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #828282;
}

.btn__promo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 35px;
  font-size: 18px;
}

.indicators {
  margin-top: 40px;
  line-height: 160%;
}

.indicator-number {
  width: max-content;
  font-size: 24px;
  padding-right: 30px;
}

.indicator-item {
  width: max-content;
  font-weight: 500;
  color: #828282;
  padding-right: 30px;
}

.promo-image{
  z-index: 0;
  position: relative;
}

.promo-image::before{
  content: "";
  position: absolute;
  top: 170px;
  right: 50px;
  width: 482px;
  height: 482px;
  background-color: #FFC97D;
  border-radius: 80px;
  transform: rotate(-120deg);
  z-index: -1;
}

.promo-image::after{
  content: "";
  position: absolute;
  top: 180px;
  right: 60px;
  width: 482px;
  height: 482px;
  background-color: #FFE8C8;
  border-radius: 80px;
  transform: rotate(-105deg);
  z-index: -2;
}

.benefits{
  margin: 0 auto;
  max-width: 1170px;
}

.benefits-main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  column-gap: 132px;
  margin-bottom:64px;
}

.benefits-title {
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #585858;
}

.benefits-subtitle {
  max-width: 450px;
  font-weight: 500;
  word-wrap: break-word;
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0 100px;
}

.benefit-item {
  display: grid;
  grid-template-rows:1fr  min-content 1fr max-content;
  min-width: 290px;
  max-height: 483px;
  padding: 40px;
  margin-right:70px;
  border-radius: 50px;
}

.benefit-item:nth-child(3){
  margin-right: 0;
}

.benefit-item-image {
  padding: 27px;
  background: #ffe8c8;
  border-radius: 20px;
  margin-bottom: 80px;
}

.benefit-item-image[alt = factory]{
  padding: 18px 21px 24px;
}

.benefit-item-title {
  margin-bottom:12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #2b2b2b;
}

.benefit-item-subtitle {
  margin-bottom: 24px;
  align-self: center;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: #575757;
}

.benefit-btn {
  display: flex;
  align-items: center;
  align-self: center;
  max-width: 122px;
  padding: 10px 24px;
  color: #575757;
  text-decoration: none;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.02em;
  border-radius: 50px;
  background:no-repeat 85%  url("assets/arrow-right.png");
  background-size: 24px;

}

.benefit-item:hover{
  background: #ffffff;
  box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
  border-radius: 50px;
}

.benefit-item:hover .benefit-btn{
  color: #ffffff;
  background-color: var(--yellow-text-color);
  background-image: url("assets/arrow-right-white.png");
}

.benefit-item:hover .benefit-btn:active{
  color: #fb9333;
  background-color: #f2d4a9;
} 

.benefit-btn-icon {
  padding-left: 10px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 113px 0 121px;
  background: linear-gradient(
    180deg,
    #fff8ed 0%,
    rgba(255, 248, 237, 0.5) 100%
  );
}

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-title {
  max-width: 402px;
  margin-bottom:30px;
  color: #333333;
  word-wrap: break-word;
}

.reviews-subtitle {
  max-width:402px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.paginator {
  align-self: flex-start;
  justify-self: flex-end;
}

.paginator-indicators {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}

.current {
  font-size: 48px;
  line-height: 64px;
  color: #333333;
}

.total {
  vertical-align: text-bottom;
  line-height: 22px;
  color: #cccccc;
  font-feature-settings: "pnum" on, "lnum" on;
}

.paginator-btn {
  display: flex;
}

.paginator-btn__prev {
  display: block;
  background: #ffd7a0 url("assets/arrow-prev.png") 20px 20px no-repeat;
  border-radius: 10px;
  width: 56px;
  height: 56px;
  margin-right: 24px;
}

.paginator-btn__next {
  display: block;
  background: #ffd7a0 url("assets/arrow-next.png") 20px 20px no-repeat;
  border-radius: 10px;
  width: 56px;
  height: 56px;
}

.paginator-btn .disabled {
  opacity: 0.3;
}

.paginator-btn__prev:hover,
.paginator-btn__next:hover {
  background-color: #fb9333;
}

.reviews-list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review-item {
  display: grid;
  max-width: 206px;
  padding: 24px 32px;
  margin: 0 15px;
  background: white;
  border-radius: 8px;
}
.review-photo {
  position: relative;
  top: -70px;
}
.review-author {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2b2b2b;
  margin-bottom: 8px;
}

.review-author-age {
  margin-bottom:19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #999999;
}

.review-blockquote {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #575757;
  overflow: hidden;
}

/*  Menu section / */

.menu {
  margin: 120px 0 70px;
}

.menu-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.uptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fb9333;
}

.menu-title {
  max-width: 732px;
  text-align: center;
}

.menu-popular {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 150px;
}
.menu-popular-item {
  position: relative;
}

.menu-popular-item:nth-child(3) {
  margin-right: 0;
}

.dish-image {
  width: 370px;
  height: 520px;
}

.dish-name {
  position: absolute;
  top: 396px;
  left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
}

.dish-price {
  position: absolute;
  top: 435px;
  left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}

.subscribe {
  margin: 0 auto;
  max-width: 1170px;
  padding: 48px 0 96px;
  background: #fff8ed;
  border-radius: 50px;
  margin-bottom: 162px;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.subscribe-title {
  max-width: 665px;
  text-align: center;
}

.subscribe-subtitle {
  max-width: 485px;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  margin: 24px 0 80px;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

input[type=email]{
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.subscribe-input {
  width: 661px;
  height: 60px;
  padding: 10px 8px 10px 31px;
  background: #ffffff;
  box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
  border-radius: 100px;
  border: none;
}

:placeholder-shown {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.7;
}

.subscribe-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 19.5px 41px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.footer {
  max-width: 1117px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
}

.footer-item{
  margin-right: 140px;
}

.footer-item:last-child{
  margin-right: 0;
}

.footer-logo-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 212px;
}

.footer-subtitle {
  margin: 19px 0 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.footer-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2b2b2b;
}

.footer-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 212px;
}

.list-head {
  color: #fb9333;
  margin-bottom: 27px;
}

.feature-item {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.feature-item:hover {
  text-decoration: underline;
  font-weight: 600;
}

.feature-item a {
  text-decoration: none;
  color: #575757;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 212px;
}
.footer-contact-list {
}

.footer-contact-item {
  display: flex;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.footer-contact-item a {
  text-decoration: none;
  color: #575757;
}
.footer-icon {
  margin-right: 16px;
}

.social-button {
  display: inline-block;
  padding-right: 32px;
}

.subtitle-social {
  margin-top: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
