body {
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-text-color);
  background-color: var(--background-white);
  min-width: 1000px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

.gradient-decor {
  background-image: linear-gradient(to right top, #fff 55%, #ffe8c8, #fff);
}

/*  Header section / */

.header {
  margin: 0 auto;
  max-width: 1200px;
}

.header-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 22px;
  position: relative;
}

.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.main-color {
  color: var(--main-yellow-text-color);
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.navigation-menu__item:not(last-of-type) {
  margin-right: 46px;
}

.navigation-menu__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  padding: 15px;
  text-decoration: none;
  color: var(--gray-text-color);
}

.navigation-menu__link:hover {
  color: var(--main-yellow-text-color);
  font-weight: 700;
}

.navigation-menu__link:active {
  color: var(--main-yellow-text-color);
  font-weight: 700;
  border-radius: 30px 20px;
  background-color: var(--hover-color);
}

.btn {
  color: var(--background-white);
  background: var(--main-yellow-text-color);
  border-radius: 100px;
  cursor: pointer;
}

.btn-header {
  padding: 24px 32px;
}

.btn-link {
  padding: 15px 45px;
  text-decoration: none;
}

.btn-link:hover {
  color: var(--main-yellow-text-color);
  background-color: var(--hover-color);
}

.navigation-menu-button {
  display: none;
  position: absolute;
  top: 23px;
  right: 60px;
  padding: 10px;
}

/*  Promo section / */

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.promo {
  margin-bottom: 140px;
  display: flex;
}

.btn__promo_info {
  display: inline-block;
  margin: 40px 0 30px;
  padding: 16px;
  color: var(--main-yellow-text-color);
  background-color: var(--background-info-btn-color);
  border-radius: 100px;
}

.promo__title {
  display: block;
  max-width: 590px;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 30px;
  overflow-wrap: break-word;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.subtitle {
  max-width: 496px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: var(--light-grey-text-color);
  margin-bottom: 35px;
}

.btn__promo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  font-size: 18px;
}

.indicators {
  line-height: 160%;
}

.indicator-number {
  width: max-content;
  font-size: 24px;
  padding-right: 30px;
}

.indicator-item {
  width: max-content;
  font-weight: 500;
  color: var(--light-grey-text-color);
  padding-right: 30px;
}

.promo-image {
  z-index: 0;
  position: relative;
}

.promo-image::before {
  content: "";
  position: absolute;
  top: 170px;
  right: 50px;
  width: 482px;
  height: 482px;
  background-color: var(--before-element-color);
  border-radius: 80px;
  transform: rotate(-120deg);
  z-index: -1;
}

.promo-image::after {
  content: "";
  position: absolute;
  top: 180px;
  right: 60px;
  width: 482px;
  height: 482px;
  background-color: var(--after-element-color);
  border-radius: 80px;
  transform: rotate(-105deg);
  z-index: -2;
}

/*  Benefits section / */

.benefits-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 64px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--gray-text-color);
}

.benefits-subtitle {
  max-width: 450px;
  font-weight: 500;
  word-wrap: break-word;
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.benefit-item {
  display: grid;
  grid-template-rows: 1fr min-content 1fr max-content;
  min-width: 290px;
  max-height: 483px;
  padding: 40px;
  margin-right: 70px;
  border-radius: 50px;
}

.benefit-item:nth-child(3) {
  margin-right: 0;
}

.benefit-item-image {
  padding: 27px;
  background: var(--background-benefit-images);
  border-radius: 20px;
  margin-bottom: 80px;
}

.benefit-item-image[alt="factory"] {
  padding: 18px 21px 24px;
}

.benefit-item-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: var(--dark-grey-text-color);
}

.benefit-item-subtitle {
  margin-bottom: 24px;
  align-self: center;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.02em;
  color: var(--gray-text-color);
}

.benefit-btn {
  display: flex;
  align-items: center;
  align-self: center;
  max-width: 122px;
  padding: 10px 24px;
  color: var(--gray-text-color);
  text-decoration: none;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.02em;
  border-radius: 50px;
  background: no-repeat 85% url("assets/arrow-right.png");
  background-size: 24px;
}

.benefit-item:hover {
  background: var(--background-white);
  box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
  border-radius: 50px;
}

.benefit-item:hover .benefit-btn {
  color: var(--background-white);
  background-color: var(--main-yellow-text-color);
  background-image: url("assets/arrow-right-white.png");
}

.benefit-item:hover .benefit-btn:active {
  color: var(--main-yellow-text-color);
  background-color: var(--hover-color);
}

.benefit-btn-icon {
  padding-left: 10px;
}

/*  Reviews section / */

.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(
    180deg,
    #fff8ed 0%,
    rgba(255, 248, 237, 0.5) 100%
  );
  margin-bottom: 120px;
  padding: 113px 0 121px;
}

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-title {
  max-width: 402px;
  margin-bottom: 30px;
  color: var(--mine-shaft-color);
  word-wrap: break-word;
}

.reviews-subtitle {
  max-width: 402px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dusty-gray-color);
}

.paginator {
  align-self: flex-start;
  justify-self: flex-end;
}

.paginator-indicators {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}

.current {
  font-size: 48px;
  line-height: 64px;
  color: var(--mine-shaft-color);
}

.total {
  vertical-align: text-bottom;
  line-height: 22px;
  color: var(--silver-color);
  font-feature-settings: "pnum" on, "lnum" on;
}

.paginator-block {
  display: flex;
}

.paginator-btn {
  display: block;
  border-radius: 10px;
  width: 56px;
  height: 56px;
}

.paginator-btn__prev {
  background: var(--main-yellow-text-color) url("assets/arrow-prev.png") 20px
    20px no-repeat;
  margin-right: 24px;
}

.paginator-btn__next {
  background: var(--main-yellow-text-color) url("assets/arrow-next.png") 20px
    20px no-repeat;
}

.disabled {
  opacity: 0.3;
}

.paginator-btn__prev:hover,
.paginator-btn__next:hover {
  background-color: var(--hover-color);
}

.reviews-list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review-item {
  display: grid;
  max-width: 206px;
  padding: 24px 32px;
  margin-right: 15px;
  background: var(--background-white);
  border-radius: 8px;
}

.review-photo {
  position: relative;
  top: -70px;
}

.review-author {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--light-black-color);
  margin-bottom: 8px;
}

.review-author-age {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--dusty-gray-color);
  margin-bottom: 19px;
}

.review-blockquote {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--gray-text-color);
  overflow: hidden;
}

/*  Menu section / */

.menu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.uptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-yellow-text-color);
}

.menu-title {
  max-width: 732px;
  text-align: center;
}

.menu-popular {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.menu-popular-item {
  position: relative;
  margin-right: 30px;
}

.menu-popular-item:nth-child(3) {
  margin-right: 0;
}

.dish-image {
  width: 370px;
  height: 520px;
}

.dish-name {
  position: absolute;
  top: 396px;
  left: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: var(--background-white);
}

.dish-price {
  position: absolute;
  top: 435px;
  left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: var(--background-white);
}

/*  Subscribe section / */

.subscribe {
  padding: 48px 0 96px;
  background: var(--background-subscribe-color);
  border-radius: 50px;
  margin-bottom: 162px;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.subscribe-title {
  max-width: 665px;
  text-align: center;
  margin-bottom: 24px;
}

.subscribe-subtitle {
  max-width: 485px;
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  margin-bottom: 80px;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

input[type="email"] {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.subscribe-input {
  width: 661px;
  height: 60px;
  padding: 10px 8px 10px 31px;
  background: var(--background-white);
  box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
  border-radius: 100px;
  border: none;
}

.subscribe-input:active {
  border-color: var(--main-yellow-text-color);
}

:placeholder-shown {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.7;
}

.subscribe-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 19.5px 41px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

/* Footer section */

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer-item:not(:last-of-type) {
  margin-right: 140px;
}

.footer-logo-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 212px;
}

.footer-subtitle {
  margin: 19px 0 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.footer-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-black-color);
}

.footer-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 212px;
}

.list-head {
  color: var(--main-yellow-text-color);
  margin-bottom: 27px;
}

.feature-item {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-wrap: none;
}

.feature-item:hover {
  text-decoration: underline;
  font-weight: 600;
}

.feature-item a {
  text-decoration: none;
  color: var(--gray-text-color);
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 212px;
}

.footer-contact-item {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 21px;
}

.footer-contact-item a {
  text-decoration: none;
  color: var(--gray-text-color);
}

.footer-icon {
  margin-right: 16px;
}

.social-button {
  display: inline-block;
  padding-right: 32px;
}

.subtitle-social {
  margin-top: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-wrap: break-word;
}
